@font-face {
  font-family: 'visitor';
  src:  url('visitor2-webfont.woff2') format('woff2'),
        url('visitor2-webfont.woff') format('woff');
}
body {
  margin: 0;
  font-family: Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0,0,0,0.9);
}
nav {
  display: flex;
  padding: 10px;
  align-items: center;
}
nav a, nav span {
  display: block;
  /*
  color: rgba(0,0,0,0.9);
  */
  color: white;
  text-decoration: none;
  opacity: 0.8;
  font-size: 16px;
}
.flexible {
  flex-grow: 1;
}
nav img {
  height: 25px;
  vertical-align: middle;
  display: inline-block;
}
nav .network {
  font-family: Menlo, monaco, monospace;
  font-size: 12px;
  color: cornflowerblue;
  font-weight: bold;
}
#user {
  border: 1px solid white;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.container {
}
img {
  width: 100%;
}
li {
  margin: 5px 0;
}
b {
  color: #6562a8;
}
h3 {
  font-size: 40px;
}
h1, h3 {
  letter-spacing: -1px;
  margin: 0 0 20px;
}
.row {
/*
  color: rgba(0,0,0,0.7);
  */
  color: rgba(255,255,255,0.9);
  display:flex;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 12px;
  font-family: Menlo, monaco, monospace;
  letter-spacing: 0px;
}
.row i {
  margin-right: 5px;
}
.row .name {
  margin-left: 10px;
}
pre {
  font-family: Menlo, monaco, monospace;
  letter-spacing: 0px;
  overflow-x: auto;
}
.row:nth-child(odd) {
  background: rgba(57, 67, 183, 0.05);
}
header {
  padding: 20px;
  background: rgba(57, 67, 183, 0.05);
}
header h3 {
  font-size: 20px;
/*
  color: rgba(0,0,0,0.7);
  */
  color: rgba(255,255,255,0.9);
}
.form {
  padding: 50px;
  font-size: 14px;
  color: rgba(255,255,255,0.9);
  background: rgba(0,0,0,0.1);
}
.form h1 {
  margin: 0;
}
#info {
  padding: 50px;
  font-size: 14px;
  color: rgba(255,255,255,0.9);
}
.btn {
  background: royalblue;
  color: white;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 2px;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}
.input-field {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  background: lavender;
  margin: 0 0 10px;
  border: none;
}
.loading {
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 13px;
}
.loading img {
  width: 20px;
  vertical-align: middle;
}
.hidden {
  display: none;
}
.rotate {
  animation: rotation 2s infinite linear;
}
blockquote {
  padding: 20px;
  box-sizing: border-box;
  background: rgba(255,255,255,0.04);
  border-left: 2px solid yellow;
  margin: 10px 0;
  font-size: 14px;
  opacity: 0.8;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.code {
  border: 2px solid rgba(255,255,255,0.1);
  padding: 20px;
  box-sizing: border-box;
  background: rgba(57, 67, 183, 0.05);
  font-family: Menlo, monaco, monospace;
  font-size: 12px;
}
.code.h {
  padding: 0;
  border: none;
}
a {
  color: cornflowerblue;
}
code {
/*
  background: rgba(57, 67, 183, 0.05);
  background: rgba(255,255,255,0.1);
  */
  background: #22273b;
  color: #6562a8;
  padding: 1px 4px;
  font-family: Menlo, monaco, monospace;
  font-weight: bold;
  font-size: 12px;
}
hr {
  border: none;
  background: rgba(57, 67, 183, 0.1);
  height: 2px;
  margin: 40px 0;
}
.section {
/*
  color: rgba(0,0,0,0.7);
  */
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border-left: 2px solid royalblue;
  margin: 20px 0;
}
h4 {
  margin: 0;
  color: cornflowerblue;
  font-size: 20px;
}
blockquote h4 {
  color: yellow;
}
main {
  background: rgba(0,0,0,0.04);
  padding: 10px;
  box-sizing: border-box;
}
form {
  margin: 0;
}
.explain {
  font-size: 14px;
  padding-bottom: 10px;
}
.indent {
  padding-left: 30px;
}
.top {
  font-weight: bold;
}
ol {
  padding-inline-start: 20px;
}
.error {
  padding: 100px;
  text-align: center;
  color: rgba(255,255,255,0.6);
  font-weight: bold;
}
.error h1 {
  color: white;
}
/*
.logo {
  font-family: visitor;  
  font-size: 40px;
}
*/
